<p>
  person works!
</p>
<!-- layout base do card como exemplo da api, necessitava de modificar ele para TS, Bootstrap -->
<div class="card"><div class="details"><div class="user_photo horizontal_center" id="user_photo">
  <a href="javascript:getNewUser();" class="refresh">New</a>
  <img src="https://randomuser.me/api/portraits/women/61.jpg">
</div>
  <p id="user_title">My address is</p><p id="user_value" style="text-transform: capitalize;">8236 brentwood dr</p>
</div><ul class="values_list horizontal_center" id="values_list">
  <li data-title="Hi, My name is" data-value="sue garcia" data-label="name" class=""></li>
  <li data-title="My email address is" data-value="sue.garcia65@example.com" data-label="email" data-caps="false" class="">

  </li>
  <li data-title="My birthday is" data-value="6/6/1970" data-label="birthday" class="">
  </li>
  <li data-title="My address is" data-value="8236 brentwood dr" data-label="location" class=" active">

  </li><li data-title="My phone number is" data-value="(873)-398-5828" data-label="phone" class=""></li>
  <li data-title="My password is" data-value="caught" data-label="pass" data-caps="false" class=""></li>
</ul>
</div>
